@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

h1 {
    font-family: "Electrolize", sans-serif; 
    color: #ffffff; 
    font-size: 2.5em; 
    margin-bottom: 0; 
}

.nav-bar {
    width: 100%;
    background-color: #1b1b32 !important;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-bottom: 1px solid #55555582;
    transition: 0.4s; 
}

.nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-bar ul li {
    margin: 0 10px;
}

.nav-bar ul li a {
    font-family: "Electrolize", sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
    padding: 7px;
}

.nav-bar ul li a:hover {
    color: #7fb6ff7d;
}

/* Hamburger Menu Styles */
.hamburger-menu {
    display: none;
    border: none;
    background: transparent;
    padding: 10px;
}

.hamburger-menu:focus {
    outline: none;
    box-shadow: none;
    border: none;
}


.navbar-toggler {
    border: none !important;
    padding: 0;
}

.navbar-toggler:focus {
    box-shadow: none !important;
    outline: none !important;
}

.navbar-brand {
    color: #ffffff !important;
    font-family: "Electrolize", sans-serif;
    font-size: 1.5em;
    margin-right: 2rem;
}

@media screen and (max-width: 768px) {
    .hamburger-menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 10px;
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #1b1b32;
        padding: 10px 0;
        transition: height 0.3s ease-in-out;
        z-index: 99999;
    }

    .navbar-collapse:not(.show) {
        display: none;
    }

    .nav-bar {
        padding: 10px 0;
        position: fixed;
        width: 100%;
        background-color: #1b1b32 !important;
    }

    .nav-bar ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .nav-bar ul li {
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }

    .nav-bar ul li a {
        display: block;
        padding: 10px;
        width: 100%;
    }

    h1 {
        font-size: 1.8em; 
    }
}
