.row-bar {
  width: 100vw; 
  margin: 0;
  padding: 20px 0; 
  background-color: #1b1b32; 
  box-sizing: border-box; 
  scroll-behavior: smooth;
}

  .row-bar2 {
    width: 100vw; 
    margin: 0;
    padding: 20px 0; 
    background-color: #1b21498e; 
    box-sizing: border-box; 
    scroll-behavior: smooth;
  }

  .row-bar3 {
    width: 100vw; 
    margin: 0;
    padding: 20px 0; 
    background-color: #404b918e; 
    box-sizing: border-box; 
    scroll-behavior: smooth;
  }

  .row-bar4 {
    width: 100vw; 
    padding: 70px 0; 
    margin-bottom: 0;
    background-color: #1a005700; 
    box-sizing: border-box; 
    scroll-behavior: smooth;
  }

  .row-bar-full{
    width: 100vw; 
    margin: 0;
    padding: 20px 0; 
    background-color: #1b1b32; 
    box-sizing: border-box; 
    scroll-behavior: smooth;
  }
